@page "/inboundlistmanagement"
@using PMSystem.Shared
@inject IMapper Mapper
@inject IInboundListService InboundListService
@inject IUserService UserService
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject ISnackbar SnackBar

<style>
    .selected {
        background-color: #1E88E5 !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }
</style>
<PageTitle>入库管理</PageTitle>

<MudCard>
    <MudCardHeader>
        <MudGrid Class="align-center">
            <MudItem lg="6" sm="12" Class="align-center">
                <MudStack Row="true" Class="align-center">
                    <MudText Typo="Typo.h6">入库管理</MudText>
                    @if (User.Roles.Where(r => r.id == 3).ToList().Count != 0)
                    {
                        <MudButton Target="_blank" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.PlaylistAdd" Color="Color.Info" OnClick="New">新增入库</MudButton>
                    }
                </MudStack>
            </MudItem>
            <MudItem lg="6" sm="12" Class="align-center">
               <MudTextField T="string" Label="请输入您想搜索的内容" Variant="Variant.Outlined" Clearable="true" 
                            AdornmentIcon="@Icons.Filled.Search" Adornment="Adornment.End"
                            @bind-Text="searchText"/>
            </MudItem>
        </MudGrid>       
    </MudCardHeader>
    <MudCardContent>
        @if (InboundListModels is null || InboundListModels.Count <= 0)
        {
            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
                当前入库信息为空！
            </MudAlert>
        }
        else
        {
        <MudTable @ref="_table" T="InboundListModel" Items="@InboundListModels" Hover="true"
          SortLabel="Sort By" Filter="FilterInboundList" Breakpoint="Breakpoint.Sm" RowsPerPage="10" LoadingProgressColor="Color.Info"
          Virtualize="true" RowClassFunc="@SelectedRowClassFunc" OnRowClick="RowClickEvent">
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<InboundListModel, object>(x=>x.id)">序号</MudTableSortLabel></MudTh>
                <MudTh>入库单编号</MudTh>
                <MudTh>入库日期</MudTh>
                <MudTh>仓库名称</MudTh>
                <MudTh>零件名称</MudTh>
                <MudTh>入库数量</MudTh>
                <MudTh>处理人</MudTh>
                <MudTh>备注</MudTh>
                <MudTh>审核意见</MudTh>
                <MudTh>入库状态</MudTh>
                <MudTh>操作</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="id">@context.id</MudTd>
                <MudTd DataLabel="inbound_code">@context.inbound_code</MudTd>
                <MudTd DataLabel="inbound_date">@context.inbound_date</MudTd>
                <MudTd DataLabel="warehouse_">@context.warehouse_</MudTd>
                <MudTd DataLabel="parts_">@context.parts_</MudTd>
                <MudTd DataLabel="count">@context.count</MudTd>
                <MudTd DataLabel="handle_">@context.handle_</MudTd>
                <MudTd DataLabel="remark">@context.remark</MudTd>
                @if(context.inbound_state == PMSystem.Shared.Enums.InboundState.待审核)
                {
                    <MudTd DataLabel="suggestion">审核中</MudTd>
                }
                else
                {
                    <MudTd DataLabel="suggestion">@context.suggestion</MudTd>
                }
                @if(context.inbound_state == PMSystem.Shared.Enums.InboundState.待审核)
                {
                    <MudTd DataLabel="inbound_state"><MudChip Text="blue" Variant="Variant.Filled" Color="Color.Info">待审核</MudChip></MudTd>
                }
                else if(context.inbound_state == PMSystem.Shared.Enums.InboundState.待修改)
                {
                    <MudTd DataLabel="inbound_state"><MudChip Text="red" Variant="Variant.Filled" Color="Color.Error">待修改</MudChip></MudTd>
                }
                else if(context.inbound_state == PMSystem.Shared.Enums.InboundState.待入库)
                {
                    <MudTd DataLabel="inbound_state"><MudChip Text="orange" Variant="Variant.Filled" Color="Color.Warning">待入库</MudChip></MudTd>
                }
                else
                {
                    <MudTd DataLabel="inbound_state"><MudChip Text="green" Variant="Variant.Filled" Color="Color.Success">已入库</MudChip></MudTd>
                }
                <MudTd DataLabel="Operate">
                    <MudStack AlignItems="AlignItems.Center" Row="true">
                        @if ((User.Roles.Where(r => r.id == 2).ToList().Count != 0) && (context.inbound_state == PMSystem.Shared.Enums.InboundState.待审核))
                        {
                            <MudButton Variant="Variant.Filled" OnClick="@(()=>{Edit(context);})" Icon="@Icons.Material.Filled.Edit" Color="Color.Success" Size="@Size.Medium">审核</MudButton>
                        }
                        @if ((User.Roles.Where(r => r.id == 3).ToList().Count != 0) && (context.inbound_state == PMSystem.Shared.Enums.InboundState.待修改))
                        {
                            <MudButton Variant="Variant.Filled" OnClick="@(()=>{Edit(context);})" Icon="@Icons.Material.Filled.Edit" Color="Color.Error" Size="@Size.Medium">修改</MudButton>
                        }
                        @if (User.Roles.Where(r => r.id == 1).ToList().Count != 0) 
                        {
                            <MudButton Variant="Variant.Filled" OnClick="@(()=>{Delete(context);})" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="@Size.Medium">删除</MudButton>
                        }
                            @if ((User.Roles.Where(r => r.id == 4).ToList().Count != 0) && (context.inbound_state == PMSystem.Shared.Enums.InboundState.待入库))
                        {
                            <MudButton Variant="Variant.Filled" OnClick="@(()=>{Inbound(context);})" Icon="@Icons.Material.Filled.Delete" Color="Color.Secondary" Size="@Size.Medium">入库</MudButton>
                        }
                    </MudStack>
                </MudTd>
                
            </RowTemplate>

            <PagerContent>
                <div class="d-flex flex-column align-center">
                    <MudPagination SelectedChanged="PageChanged" Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)" Class="pa-4" />
                </div>
            </PagerContent>
        </MudTable>
        }

    </MudCardContent>
</MudCard>

@code {
    private bool isEmpty = false;
    private bool isLoading = true;
    private List<string> clickedEvents = new();
    private int selectedRowNumber = -1;
    private string infoFormat = "{first_item}-{last_item} of {all_items}";
    public string searchText { get; set; }
    private MudTable<InboundListModel> _table;

    [CascadingParameter]
    public UserModel User { get; set; }

    private List<InboundListModel> InboundListModels { get; set; }

    protected override async Task OnInitializedAsync()
    {
        InboundListModels = new List<InboundListModel>();
        await GetInboundLists();
    }

    async Task GetInboundLists()
    {
        var result = await InboundListService.GetInboundLists();
        if (result.Success)
        {
            if (User.Roles.Where(r => r.id == 1).ToList().Count != 0)
            {
                InboundListModels = result.Data;
            }
            else if (User.Roles.Where(r => r.id == 2).ToList().Count != 0)
            {
                InboundListModels = result.Data.Where(i => i.inbound_state == PMSystem.Shared.Enums.InboundState.待审核).ToList();
            }
            else if (User.Roles.Where(r => r.id == 3).ToList().Count != 0)
            {
                InboundListModels = result.Data.Where(i => i.inbound_state == PMSystem.Shared.Enums.InboundState.待修改 || i.inbound_state == PMSystem.Shared.Enums.InboundState.待审核).ToList();
            }
            else if (User.Roles.Where(r => r.id == 4).ToList().Count != 0)
            {
                InboundListModels = result.Data.Where(i => i.inbound_state == PMSystem.Shared.Enums.InboundState.待入库).ToList();
            }
        }
    }

    private async Task Edit(InboundListModel inboundListModel)
    {
        InboundListModel model = Mapper.Map<InboundListModel>(inboundListModel);
        var parameters = new DialogParameters { ["InboundListModel"] = model };
        var dialog = DialogService.Show<InboundListEditPage>("编辑入库信息", parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var response = await InboundListService.UpdateInboundList(Mapper.Map<InboundListModel, UpdateInboundListModel>(result.Data as InboundListModel));
            if (response.Success)
                inboundListModel = result.Data as InboundListModel;
            SnackBar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
            await GetInboundLists();
            StateHasChanged();
        }
    }

    private async Task New()
    {
        var dialog = DialogService.Show<InboundListAddPage>("添加入库信息");
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var apiResult = await InboundListService.AddInboundList(Mapper.Map<InboundListModel, AddInboundListModel>(result.Data as InboundListModel));
            if (apiResult.Success)
            {
                SnackBar.Add(apiResult.Message, Severity.Success);
            }
            else
            {
                SnackBar.Add(apiResult.Message, Severity.Error);
            }
            await GetInboundLists();
        }
        StateHasChanged();
    }

    public async void Delete(InboundListModel e)
    {
        var result = await DialogService.Show<MakeSureDialog>("确认操作").Result;
        if (!result.Cancelled)
        {
            var response = await InboundListService.DeleteInboundList(e.id);
            SnackBar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
        }
        await GetInboundLists();
        StateHasChanged();
    }

    public async void Inbound(InboundListModel inboundListModel)
    {
        var response = await InboundListService.UpdateQuantity(inboundListModel);
        SnackBar.Add(response.Message, response.Success ? Severity.Success : Severity.Error);
        await GetInboundLists();
        StateHasChanged();
    }

    bool FilterInboundList(InboundListModel inboundListModel)
    {
        if (string.IsNullOrWhiteSpace(searchText))
            return true;
        if (inboundListModel.inbound_code.Contains(searchText, StringComparison.OrdinalIgnoreCase))
            return true;
        if (inboundListModel.warehouse_.warehouse_name.Contains(searchText, StringComparison.OrdinalIgnoreCase))
            return true;
        if (inboundListModel.parts_.parts_name.Contains(searchText, StringComparison.OrdinalIgnoreCase))
            return true;
        if (inboundListModel.count.ToString().Contains(searchText, StringComparison.OrdinalIgnoreCase))
            return true;
        if (inboundListModel.handle_.user_name.Contains(searchText, StringComparison.OrdinalIgnoreCase))
            return true;
        if (inboundListModel.remark.Contains(searchText, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private void PageChanged(int i)
    {
        _table.NavigateTo(i - 1);
    }

    private void RowClickEvent(TableRowClickEventArgs<InboundListModel> tableRowClickEventArgs)
    {
        clickedEvents.Add("Row has been clicked");
    }

    private string SelectedRowClassFunc(InboundListModel inboundListModel, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            selectedRowNumber = -1;
            clickedEvents.Add("Selected Row: None");
            return string.Empty;
        }
        else if (_table.SelectedItem != null && _table.SelectedItem.Equals(inboundListModel))
        {
            selectedRowNumber = rowNumber;
            clickedEvents.Add($"Selected Row: {rowNumber}");
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }
}
